/* BannerCarousel.module.css */

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide {
    position: relative;
  }
  
  .slide img {
    width: 200vh;
    max-height: 50vh;
    display: block;
    border-radius: 0 ;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; 
    width: 40%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* .content .text {
    max-width: 100%; 
  } */
  
  /* .content h2 {
    font-size: 20px; 
  }
  
  /* .content p {
    font-size: 20px; 
    line-height: 1.6;
  } */ 
  
  .content button {
    font-size: 10px; /* Adjust as needed */
    width: 50%; /* Ensures button spans full width of its container */
  }
  
  .dot {
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden; 
  }
  
  .dot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  