.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the spinner */
  background-color: #f9f9f9;
  z-index: 9999; /* Ensure the spinner is on top */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.loader {
  position: relative;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  border-right: 8px solid #2ecc71;
  border-bottom: 8px solid #e74c3c;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.letter {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  transition: opacity 0.5s ease-in-out;
  line-height: 1;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
