.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color:aqua;
}


.form {
  width: 100%; /* Make the form take the full width of the container */
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error{
  color: red;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%; /* Adjust maximum width for smaller screens */
  }
}

/* page.module.css */

.navbar {
  background-color: #faf4f4; /* Example background color */
  color: #0c0c0c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.brand {
  color: #0c0c0c; /* Example text color */
  font-size: 1.5rem;
  text-decoration: none;
}

.toggleBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.toggleBtn-lg {
  display: none; /* Example: hide on larger screens */
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.iconBar {
  background-color: #fff; /* Example icon color */
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.25rem auto;
}

.collapse {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1rem; /* Example spacing between nav items */
}

.navLink {
  color: #0c0c0c; /* Example text color */
  text-decoration: none;
}

/* Additional styles for the image within the navbar */
.navImage {
  max-width: 50px; /* Ensure the image doesn't exceed the width of its container */
  max-height: 50px; /* Ensure the image doesn't exceed the height of its container */
  margin-right: 0.5rem; /* Example margin between image and text */
  border-radius: 100%;
}
.form .a{
  text-transform:capitalize;
  font-size: large;
  color: green;
}